@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&family=Inter:wght@100;200;300;400;600&display=swap');*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#ECEDF3 ;
}
.header{
    width:100%;
    background-color: #FFFE89;
    position: relative;
}
nav{
    display: flex;
    padding: 0% 1% 0% 1%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
    width: 350px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline;
    padding: 0.7%;
    position: relative;
}
.nav-links ul li a{
    color: #000;
    text-decoration: none;
    text-align: justify;
    font-family: 'Inter';
    font-size: 20px;
}
.link{
    height: 25px;
    width: 30px;
    padding: 0% 0.7%;
}
#profile{
    height: 35px;
    width: 35px;
}
.open_menu, .close_menu{
    position: absolute;
    cursor: pointer;
    display: none;
}
.open_menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close_menu{
    top: 20px;
    right: 20px;

}
#check{
    display: none;
}
@media(max-width:1200px){
    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* this */
        /* justify-content: center; */
        width: 80%;
        height: 130vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #C8D9EEF2;
        /* this also */
        padding-top:30rem ;
        transition: all 300ms ease-in-out ;
    }
    .nav-links li a img{
        display: none;
    }
    .line, #profile{
        display: none;
    }
    .nav-links ul li{
        display: flex;
        list-style: none;
        /* this */
        margin: 12%;
        text-align: center;
    }
    .nav-links ul li a{
        display: flex;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Inter';
        /* this */
        font-size: 50px;
        margin: auto;
    }
    .open_menu, .close_menu{
        display: block;
    }
    /* this and after this */
    .open_menu img{
        height: 60px;
        width: 60px;
    }
    .close_menu img{
        height:100px;
        width: 100px;
    }
    #check{
        display: none;
    }
    /* this */
    .logo{
        height: 200px;
        width: 600px;
    }
    .main{
        align-items: flex-start;
        height: 87vh !important;
    }
    .main_map{
       position: absolute;
       top:250px;
    }

    .aux_map{
        display: none;
    }
    .lower_elements{
        position: absolute;
        top: 280px;
        justify-content: center;
        background-size: contain;
    }
    .extras_container{
        height: 100%;
        width: 100%;
    }
    .footer footer P{
        font-size: 60px;
        
    }
    .main .extras_container button{
        height: 20%;
        width: 100%;
        font-size: 50px;
        line-height: 43px;
        margin: 2%;
        border-radius: 40px;
        margin: 10%;
    }
    .main .extras_container #book_ticket{
        width: 80%;
        font-size: 42px;
    }
    #check:checked ~ .nav-links {right: 0;}
}
.main{
    display: flex;
    width: 100%;
    height: 130vh;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_map{
    height: 30%;
    width: 98%;
    margin-top: 3%;
}
/* .lower_elements{
    background-image: url('road_dimmed.png');
    background-size: cover;
    height: 40%;
    width: 92%;
    margin-top: 5%;
    border-radius: 15px;
} */
.lower_elements{
    display: flex;
    background-image: url('road.png');
    background-size: cover;
    position: relative;
    z-index: 1;
    flex-direction: row;
    height: 40%;
    width: 92%;
    margin-top: 5%;
    border-radius: 15px;
}
.lower_elements::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}
.aux_map{
    border-radius: 15px;
    height: 100%;
    width: 50%;
    background-color: yellow;
}
.extras_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
iframe{
    height: 100%;
    width: 100%;
}
button{
    height: 20%;
    width: 50%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 35px;
    line-height: 43p;
    text-transform: uppercase;
    margin: 2%;
    border-radius: 17px;
    background-color: #FFFE89;
    color: #5353fd;
}
#book_ticket{
    width: 40%;
    height: 15%;
    font-size: 24px;
}
button:hover{
    color: white;
    background-color: #7474fe;
    border: #8294c4;
    text-decoration: underline;
    cursor: pointer;
    transition-duration: 0.5s;
}
footer {
    position: bottom;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFFE89;
    color: #4B0082;
    text-align: center;
    align-items: center;
    padding-top: 25px;
}
footer p{
    font-size: 30px;
    font-family:'Inter';
}